*{
    box-sizing: border-box;
}
body {
    background: black;
}
.header {
    color: yellow;
}
header {
    padding: 1rem;
    background: cadetblue;
    display: flex;
    justify-content: flex-end;
}
.search {
    background-color: rgb(255, 251, 10);
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: black;
    font-size: 20px;
}
.search::placeholder {
    color: black;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.game {
    width: 500px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color:black;
    position:relative;
    overflow: hidden;
}
.game img{
    width: 100%;
}

.game-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.game-info h3{
    margin-top: 0;
}

.game-info span{
    background-color: rgb(0, 0, 0);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.game-info span.green{
    color:rgb(123, 255, 123);
}

.game-info span.orange{
    color:orange;
}

.game-info span.red{
    color:red;
}


.overview {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}

.game:hover .overview{
    transform:translateY(0)
}
.game-title {
    color: black;
    justify-content: center;
}
